{{#> layout}}
<div class="container-float">
    <p>
        {{#if pagination.first}}
            <a href="/movies?name={{name}}&page={{pagination.first}}">First</a>
        {{else}}
            First
        {{/if}}
        {{#if pagination.prev}}
            <a href="/movies?name={{name}}&page={{pagination.prev}}">Prev</a>
        {{else}}
            Prev
        {{/if}}
        {{#if pagination.next}}
            <a href="/movies?name={{name}}&page={{pagination.next}}">Next</a>
        {{else}}
            Next
        {{/if}}
        {{#if pagination.last}}
            <a href="/movies?name={{name}}&page={{pagination.last}}">Last</a>
        {{else}}
            Last
        {{/if}}
    </p>
    <table>
        <tr>
            <th>Title</th>
            <th>Release Date</th>
            <th>Vote Avg</th>
        </tr>
        {{#each results}}
            <tr>
                <td><a href="/movies/{{this.id}}">{{this.title}}</a></td>
                <td>{{this.releaseDate}}</td>
                <td>{{this.voteAverage}}</td>
                <!--<td><a href="{{this.album.url}}">Link</a></td>!-->
            </tr>
        {{/each}}
    </table>
</div>
{{/layout}}