{{#> layout}}
<div class="container-float">
    {{#if pagination.first}}
        <a href="/movies?name={{name}}&page={{pagination.first}}">First</a>
    {{/if}}
    {{#if pagination.prev}}
        <a href="/movies?name={{name}}&page={{pagination.prev}}">Prev</a>
    {{/if}}
    {{#if pagination.next}}
        <a href="/movies?name={{name}}&page={{pagination.next}}">Next</a>
    {{/if}}
    {{#if pagination.last}}
        <a href="/movies?name={{name}}&page={{pagination.last}}">Last</a>
    {{/if}}
    <table>
        <tr>
            <th>Title</th>
            <th>Release Date</th>
            <th>Vote Avg</th>
        </tr>
        {{#each results}}
            <tr>
                <td><a href="/movies/{{this.id}}">{{this.title}}</a></td>
                <td>{{this.releaseDate}}</td>
                <td>{{this.voteAverage}}</td>
                <!--<td><a href="{{this.album.url}}">Link</a></td>!-->
            </tr>
        {{/each}}
    </table>
</div>
{{/layout}}