{{#> layout}}
<div class="container-float">
    <h2 style="display: inline-block; padding-bottom: 20px">{{movie.originalTitle}}</h2>
    <p style="display: inline-block; padding-left: 10px"><i>id: {{movie.id}}</i></p>
    <p><b>Tagline:</b> {{movie.tagline}}</p>
    <p><b>Release Date:</b> {{movie.releaseDate}}</p>
    <p><b>Vote Average:</b> {{movie.voteAverage}}</p>
    <p><a href="/movies/{{movie.id}}/credits">Credits</a></p>
    <p><b>Overview:</b> {{movie.overview}}</p>
</div>
{{/layout}}