{{#> layout}}
{{#if user}}
    <h2>{{username}} profile</h2>
    <table>
        <tr>
            <th>Title</th>
            <th>Release Date</th>
            <th>Vote Avg</th>
        </tr>
        {{#each favourites}}
            <tr>
                <td><a href="/movies/{{this.id}}">{{this.title}}</a></td>
                <td>{{this.releaseDate}}</td>
                <td>{{this.voteAverage}}</td>
                {{#compareTwo ../user.username ../username}}
                    <td id="remove"><button type="button" onclick="removeFavourite({{this}})">Remove</button></td>
                {{/compareTwo}}
            </tr>
        {{/each}}
    </table>
    <!--<button type="button" onclick='getFollowedEvents("{{id}}")'>Followed Events</button>
    <div id="followedEventsList"></div>
    !-->
{{else}}
<script>
    window.onload(alerter('Log in first to view this profile'))
</script>
{{/if}}
{{/layout}}